body{
  background-color:black;
}
.main_bg{
  width: 70%;
  height:600px;
  margin:0 auto;
  margin-top:100px;
}
.circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  float:left;
  margin-top:50px;
  margin-left:20px;
}
.cir_b{
  background-color:#3498db;
}
.circle:hover{
  background-size: cover;
  background-position: center;
}
.hong:hover{
  background-image: url('./hongsungdo/image/hsd.jpg') 
}
.inho:hover{
  background-image: url('./inhoDetail/image/증명사진.jpg') 
}
.kimchaemin:hover{
  background-image: url('./kimchaemin/image/profile.png') 
}
.yongguen:hover{
  background-image: url('./YongGeun/image/yonggeun.jpg') 
}
.youngju:hover{
  background-image: url('./youngju/image/profile.jpg') 
}
.square:hover{
  background-size: cover;
  background-position: center;
}
p{
  color: black;
  font-size: 200px;
  text-align: center;
}
.hidden {
    display: none !important;
  }

.nothing > p{
  color: white;
  font-size: 200px;
  text-align: center;
}
.nothing{
   width: 230px;
  height: 230px;
  color:red;
  display: flex;
  justify-content: center;
  align-items: center;
  float:left;
  margin-top:50px;
  margin-left:20px;
}
.top{
  width:100%;
  height:300px;
}
.btm{
  float:right;
}
.square{
   width: 230px;
  height: 230px;
  color:red;
  display: flex;
  justify-content: center;
  align-items: center;
  float:left;
  margin-top:50px;
  margin-left:20px;
  background-color:white;
}
.s1{
  width: 230px;
  height: 230px;
  color:red;
  display: flex;
  justify-content: center;
  align-items: center;
  float:left;
  margin-top:50px;
  margin-left:20px;
  background-color:orange;
}
.btn{
  color:white;
  position:absolute;
  bottom:0;
  margin-left:45%;
  font-size:30px;
}